#Ignore files that will need to be changed locally
.DS_Store
.htaccess
robots.txt
/nbproject/
composer.lock

/vendor/
docker/.env
tests/playwright/node_modules/
tests/playwright/test-results/
tests/playwright/playwright-report/
tests/.phpunit.result.cache
tests/coverage/
